@using CarRentalsRazor.Models;
@model List<CarPicture>;

<table class="table">
    @*< thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarPicture[0].Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].RentPerDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Available)
            </th>
            <th></th>
        </tr>
    </thead> *@
     <tbody>
        <h2>Pictures</h2>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img class="car-picture" src=@Html.DisplayFor(modelItem => item.PictureUrl) alt="Picture" />
                </td>
                <td>
                    @if (Models.CurrentUser.IsAdmin)
                    {
                        <a asp-page="/CarPictures/Delete" asp-route-id="@item.Id">Delete Picture</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>